@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
  user-select: none;
  @apply accent-amber-400;
}

#root {
  @apply w-full h-screen flex flex-col items-center;
}